*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color:rgb(223, 119, 119);
    color:white;
    height:6rem;
    line-height:6rem;
}
.choice{
    height:165px;
    width:165px;
    border-radius: 60%;
}
.choice:hover{
    opacity:0.5;
    border:10px solid black;
    cursor: pointer;
}
img{
    height:165px;
    width:165px;
    object-fit:cover;
    border-radius:30%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:3rem;
    margin-top:5rem;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:2.5rem;
    margin-top:3.5rem;
    gap:5rem;
}
#user-score, #comp-score{
    font-size:5rem;
}
.msg-container{
    margin-top:3rem;
}
#msg{
    background-color:#081b31;
    color:#fff;
    height:5rem;
    font-size:2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
}
#icons{
    background-color: rgb(223,119,119);
    color:white;
    font-size:50px;
    align-items:center;
}
.dark{
    background-color:black;
    color:white;
 }
 .light{
  background-color:rgb(236, 173, 190);
  color:black;
 }
 #change{
    font-size:20px;
    margin-top:20px;
    background-color: rgb(166, 163, 231);
    border-radius: 15%;
 }
 .fun{
    margin-top:20px;
 }
 h2{
    color:rebeccapurple;
 }
 #rules{
    margin-top:20px;
 }